.add-employee-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  color: blue;
  max-width: 600px;
  margin: 0 auto; 
}

.add-employee-form input {
  padding: 50px; 
  margin-bottom: 10px; 
  font-size: 14px; 
  border-radius: 4px;
  border: 1px solid #ccc; 
  width: 100%; 
  box-sizing: border-box; 
}

.add-employee-form button {
  padding: 8px 12px; 
  font-size: 10px; 
  background-color: blue; 
  color: white; 
  border: none; 
  border-radius: 6px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
  margin-bottom: 20px;
}

.add-employee-form button:hover {
  background-color: darkblue;
}
